<form action="controller/login.php" method="POST">
	<label>Email: </label>
	<input type="email" name="person_email" class="input-lg form-control" placeholder="Digite o email" required>
	
	<br>
	<label>Senha: </label>
	<input type="password" name="user_password" class="input-lg form-control" placeholder="Digite a senha" required>
	
	<br>
	<input type="submit" value="Entrar" class="btn btn-primary btn-block btn-lg">
	<!-- 
		default = cinza
		success = verde
		info = azul claro
		primary = azul escuro
		danger = vermelho
		warning = amarelo
	 -->
</form>